{% extends "base.html" %}
{% block content %}
<title>Home</title>
<h1>Welcome To The Wall Of Posts</h1>


</br>


<div id="logoutButton">
  <a href="/logout" <input class="btn btn-warning"> Logout</a>
  </br>
  </br>

  <p><b>Username:</b> {{username}}</p>
</div>

<form action="/post" method="post" id="postForm">
        <input type="text" placeholder="               Title" name="title" value="{{
          request.form.title }}">
         <input type="text" placeholder="         Description" name="description" value="{{
          request.form.description }}">
        </br>

    </br>
        <input class="btn btn-success" form = "postForm" type="submit" value="New Post">
        <a href="/deleteAll" class="btn btn-danger"> Reset Wall</a>
      </form>
       <p>{{ user_status }}</p>
<h3>Posts:</h3>
{% for post in posts %}
  <strong>Title:</strong> {{ post.title }} <br>
  <strong>Post:</strong> {{ post.description }} <br>
<br>
{% endfor %}





{% endblock %}
