{% extends "base.html" %}
{% block content %}
<title>Home</title>
<h1>Welcome To My Homepage</h1>
<p>This is the main site</p>
<a href="/about">About</a>
</br>
<a href="/logout">Logout</a>
</br>
</br>
</br>
</br>
</br>

<h3>Posts:</h3>
{% for post in posts %}
  <strong>Title:</strong> {{ post.title }} <br>
  <strong>Post:</strong> {{ post.description }} <br>
<br>


{% endfor %}
<form action="/post" method="post" id="postForm">
        <input type="text" placeholder="title" name="title" value="{{
          request.form.title }}">
         <input type="text" placeholder="description" name="description" value="{{
          request.form.description }}">
        </br>
		</br>
        <input class="btn btn-default" form = "postForm" type="submit" value="Post">
      </form>
{% endblock %}
