{% extends "base.html" %}
{% block content %}

<title>login</title>



 <h1>{{buttonValue}}</h1>
      </br>
      <div id="loginForm">
      <form action="" method="post" id="loginForm">
        <input type="text" placeholder="Username" id="loginnput" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" id="loginInput" name="password" value="{{
          request.form.password }}">
          </div>
        <input class="btn btn-success" type="submit" value={{ buttonValue }}>
      </form>
       </br>
        </br>
        </br>
       {% if buttonValue!="Register" %}
       <p>Not a member? Register now</p>
        <form name="register" action ="/register">
        <input class="btn btn-info" type="submit" value="Register">
        </form>
        {% endif %} 


{% endblock %}
